body {
    max-width: 50%;
    margin: auto;
    text-align: justify;
}

a:visited {
    color: blue;
}

fieldset {
    margin-bottom: 2%;
}

#kaiwen-xue:link, #kaiwen-xue:visited {
    color: #9e3eb2;
    text-decoration: none;
}

#portrait {
    float: right;
    zoom: 15%;
}

.wrap {
    width: 70%;
}