body {
    max-width: 50%;
    margin: auto;
    font-size: 110%;
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover{
    color: #008080;
}

h1 {
    text-align: center;
}

.wrap {
    width: 70%;
}
