---
---
body {
    max-width: 60%;
    margin: auto;
}

#meta {
    margin-bottom: 10%;
}

a:hover{
    color: #008080;
}

a:visited {
    color: blue;
}

fieldset {
    margin-bottom: 2%;
}

#nogizaka-purple:link, #nogizaka-purple:visited {
    color: #9e3eb2;
    text-decoration: none;
}

#nogizaka-purple {
    color: #9e3eb2;
}

#portrait {
    float: right;
    margin-left: 10%;
    zoom: 6.5%;
}

.wrap {
    width: 70%;
}