---
---
body {
    max-width: 50%;
    margin: auto;
}

a:hover{
    color: #008080;
}

a:visited {
    color: blue;
}

fieldset {
    margin-bottom: 2%;
}

#kaiwen-xue:link, #kaiwen-xue:visited {
    color: #9e3eb2;
    text-decoration: none;
}

#portrait {
    float: left;
    margin-right: 2%;
    zoom: 9%;
}

.wrap {
    width: 70%;
}